---
layout: page
title: 	读书以养节操
tagline: "Mi casa es su casa."
description: "StrayBugs - Ain't no trick going get me down"
---
{% include JB/setup %}


{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}


{% comment %}

<ul>
  {% assign postnum = 0 %}
  {% for post in site.posts %}
    {% assign postnum = postnum | plus: 1 %}
    {% unless post.tags contains 'NON' %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
	<br/>
        <a href="{{ post.url }}"><code> --==Read More==-- </code></a>
        <br/>
        {% if site.JB.comments.provider and page.comments != false %}
          {% case site.JB.comments.provider %}
            {% when "disqus" %}
              <h5>评论：<a href="{{ post.url }}/#disqus_thread">加载中...</a></h5>
          {% endcase %}
        {% endif %}
        
        <br/><br/><br/>
      </li>
    {% endunless %}
    {% if postnum >= 10 %}
      {% break %}
    {% endif %}
  {% endfor %}
</ul>

{% include JB/comments-count %}


{% endcomment %}
