<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <br/><small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {% include JiaThis-Button.html %}<br/>
    <br/>本文地址: 
    <a href>{{ site.production_url }}{{ page.url }} </a>
    <hr/>
    {{ content }}
   <hr/>
   {% include JiaThis-Button.html %}<br/>
    <br/>本文地址: 
    <a href>{{ site.production_url }}{{ page.url }} </a>
    {% include cc-lisences.html %}
    <hr/>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇</a>
      {% else %}
        <a class="btn disabled prev">&larr; 上一篇</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">时间轴</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &rarr;</a>
      {% else %}
        <a class="btn next disabled">下一篇 &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <section>
      <h4>发表于</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>目录</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4>标签</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
  </div>
</div>
